@use "global" as *;

.contact-top {
  margin: rem(80) rem(0) rem(103) 0;
  @include mq("md") {
    margin: rem(150) 0 rem(160) 0;

  }
}

.contact-top__inner {
  position: relative;
  text-align: center;
  @include mq("md") {
    max-width: rem(1130);
  }
}

.contact-top__inner::before {
  content: "";
  position: absolute;
  width: rem(109);
  height: rem(50);
  top: rem(-24);
  left: calc(50% - min(-16vw, rem(620))); 
  background-image: url(../images/common/Contact-icon2.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  z-index: 100;
  @include mq("md") {
    content: "";
    position: absolute;
    width: rem(301);
    height: rem(138);
    top: rem(-50);
    left: calc(50% - min(-25.5vw, rem(620))); 
    background-image: url(../images/common/Contact-icon2.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: 100;
  }
}

.contact-top__frame {
  @include mq("md") {
    display: flex;
    align-items: center;
    // justify-content: space-between;
    box-shadow: rem(2) rem(2) rem(10) rgba(0, 0, 0, 0.25);
    width: 100%;
  }
}

.contact-top__text-content {
  width: 100%;
  @include mq("md") {
    position: relative;
    padding: rem(80) rem(84) rem(80) rem(60);
  }
}


.contact-top__text-content::after {
  width: 100%;
  @include mq("md") {
    position: absolute;
    top: rem(80);
    left: 100%;
    content: "";
    width: 1px;
    height: rem(255);
    background-color: $green;
  }
}

.contact-top__logo {
  border-bottom: 1px solid $green;
  width: 100%;
  max-width: rem(295);
  display: inline-block;
  padding-bottom: rem(2);
  @include mq("md") {
    width: 100%;
    max-width: rem(440);
  }
}

.contact-top__logo img {
  max-width: rem(174);
  width: 100%;
  display: inline-block;

  @include mq("md") {
    margin-top: rem(-3);
    max-width: rem(200);
  }
}

.contact-top__address {
  @include mq("md") {
    display: flex;
  }
}

.contact-top__iframe-wrap iframe {
  @include mq("md") {
    width: rem(273);
    height: rem(148);
  }
}

.contact-top__body {
  @include mq("md") {
    width: 100%;
  }
}

.contact-top__text {
  margin-top: rem(14);
  font-size: rem(16);
  line-height: 1.7;
  font-weight: $regular;
  font-family: $base-font-family;
  @include mq("md") {
    margin-top: rem(20);
    text-align: left;
    line-height: 1.8;
  }
}

.contact-top__iframe-wrap {
  margin-top: rem(16);

  @include mq("md") {
    width: rem(273);
    height: rem(148);
    margin-left: rem(21);
    // display: inline-block;
  }
}

.contact-top__title.title {
  margin-top: rem(76);
  font-size: rem(80);
  font-weight: $regular;
  font-family: $eng-font-family;
  @include mq("md") {
    margin-top: rem(35);
  }
}

.contact-top__sub-title.sub-title {
  margin-top: rem(38);
  @include mq("md") {
    margin-top: rem(40);
  }
}

.contact-top__sub-text {
  margin-top: rem(15);
  font-size: rem(14);
  font-weight: $regular;
  color: $green;
  @include mq("md") {
    margin-top: rem(10);
  }
}

.contact-top__button {
  margin-top: rem(40);
}

.contact-top__inner.contact-top__page-top {
  position: absolute;
  scroll-behavior: smooth;
  // position: fixed;
  z-index: 1000;
  cursor: pointer;
  top: rem(30);
  right: rem(-130);

  @include mq("md") {
    top: rem(475);
    right: rem(-130);
  }
}

//トップに戻るボタン
.contact-top__page-top::before {
    content: "";
    position: absolute;
    width: rem(50); 
    height: rem(50);
    top: rem(665);
    left: calc(50% - min(-33vw, rem(620))); 
    background-image: url(../images/common/Contact-icon.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: 100;
    @include mq("md") {
      width: rem(85); 
      height: rem(85);
      top: rem(470);
      left: calc(50% - min(-43.1vw, rem(620))); 
    }
}



