@use "global" as *;

.voice {
  margin-top: rem(102);
  @include mq("md") {
    margin-top: rem(130);
  }
}

.voice__inner.inner {
  padding: 0 rem(15);
  @include mq("md") {
    position: relative;
    max-width: rem(1130);
  }
}

.voice__inner::before {
  @include mq("md") {
    content: "";
    position: absolute;
    width: rem(71); 
    height: rem(162);
    top: rem(650);
    left: calc(50% - min(-32.7vw, rem(620))); 
    background-image: url(../images/common/Voice-icon2.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: 100;
  }
}

.voice__inner::after {
  @include mq("md") {
    content: "";
    position: absolute;
    width: rem(301); 
    height: rem(138);
    top: rem(-5);
    left: calc(50% - min(43vw, rem(620))); 
    background-image: url(../images/common/Voice-icon1.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: 100;
  }
}

.voice__body {
  text-align: center;
}

.voice__title {
  @include mq("md") {
    padding-top: rem(135);
  }
}

.voice__sub-title.sub-title {
  margin-top: rem(32);
  @include mq("md") {
    margin-top: rem(36);
  }
}

.voice__button {
  margin-top: rem(40);
  @include mq("md") {
    margin-top: rem(80);
  }
}